<ion-view view-title="Scanner">
  <ion-content class="padding scan-dash">
    <img src="img/logo-blue.png" />

    <h5 class="introDash">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur.</h5>

    <button class="scanBtn" ng-click="scan()">
      Scanner le QR Code
    </button>
  </ion-content>
</ion-view>
