<ion-view view-title="Liste des invités">
  <ion-content>
    <ion-list>
      <input type="text" placeholder="Rechercher un invité par son nom sur Facebook" class="searchBox" ng-init="search" ng-model="search" />
      <ion-item class="item-remove-animate item-avatar item-icon-right listInvites" ng-repeat="votant in votants | filter:search" type="item-text-wrap" href="#/tab/invites/{{votant.id}}">
        <img ng-src="{{votant.facebook.imageUrl}}">
        <h2 class="titleList">{{votant.facebook.name}}</h2>
        <p>Totale des votes : {{votant.votes.length}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(votant)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
