<ion-view view-title="Historiques">
  <ion-content>
      <input type="text" placeholder="Rechercher un invité par son nom sur Facebook" class="searchHistory" ng-init="search" ng-model="search" />
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="oneHist in history | filter:search | orderBy:'-datetime'" ng-if="checkHistory(oneHist) && oneHist.options == 2" type="item-text-wrap"  ng-init="oneHist.votant = getHistory(oneHist.id_votants)">
        <img ng-src="{{oneHist.votant.facebook.imageUrl}}">
        <h2 class="titleList">{{oneHist.votant.facebook.name}}</h2>
        <p>{{oneHist.datetime | date:"HH:mm"}}</p>
        <img ng-src="{{oneHist.votant.qrcode}}" class="historyQR">
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
