<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-bottom tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Scanner" icon-off="ion-ios-barcode-outline" icon-on="ion-ios-barcode" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Historiques" icon-off="ion-clipboard" icon-on="ion-clipboard" href="#/tab/history">
    <ion-nav-view name="tab-history"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Invités" icon-off="ion-ios-people-outline" icon-on="ion-ios-people" href="#/tab/invites">
    <ion-nav-view name="tab-invites"></ion-nav-view>
  </ion-tab>


</ion-tabs>
