/* Empty. Add your own CSS if you like */

.bar.bar-header {
    background: white;
    position:  relative;
}

.title.title-left.header-item {
    color:  #36a3f7;
    text-align: left;
    text-transform:  uppercase;
    font-weight: 600;
}

ion-header-bar.bar-stable.bar.bar-header:after {
    content: "";
    width: 35px;
    height: 35px;
    display: block;
    background-image: url("../img/logoEV.png");
    z-index: 999;
    position: absolute;
    right: 5px;
    text-align:  center;
    font-weight:  100;
    top: 3px;
    background-size: cover;
    line-height: 64px;
    font-size: 11px;
    color: #217ab9;
    text-transform:  uppercase;
}

ion-content {
    background: #f2f3f8;
}

button.scanBtn {
    display:  block;
    background: white;
    color: #024;
    text-transform:  uppercase;
    font-size: 30px;
    width:  100%;
    font-weight: 400;
    padding: 10px 0;
    border: 2px solid #024;
}


.scan-dash img {
    width: 60%;
    margin: 20px auto 30px auto;
    display:  block;
}

h5.introDash {
    text-align: justify;
    font-weight:  100;
    line-height: 24px;
    font-size: 15px;
    margin-bottom:  30px;
}

.tab-nav.tabs,.nav-bar-block {
    -webkit-box-shadow: 0px 1px 15px 1px rgba(0, 34, 68, 0.1);
    -moz-box-shadow: 0px 1px 15px 1px rgba(0, 34, 68, 0.1);
    box-shadow: 0px 1px 15px 1px rgba(0, 34, 68, 0.1);
}

.titleList{
    line-height: 21px;
}

input.searchBox {
    width:  100%;
    padding: 0 10px;
    display:  block;
    position: fixed;
    height:  50px;
    z-index:  99;
    border-bottom: 1px solid #36a3f7;
    top: 0;
}

.listInvites {
    padding-top: 0 !important;
}

img.historyQR {
    width:  40px;
    position:  absolute;
    right: 20px;
    top: 20px;
}

input.searchHistory {
    width: 100%;
    padding: 0 10px;
    position: relative;
    height: 50px;
    z-index: 99;
    border-bottom: 1px solid #36a3f7;
}


.list:last-child {
    margin-bottom: 0px;
    padding-top: 50px;
}
